body {
  margin: 0;
  padding: 0;
}

.fundo {
  background-image: url(./assets/backGjanete.png );
 background-size: 100% 100%; /* Força a imagem a ter exatamente o tamanho da tela */
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  justify-content: flex-end;
  
}

.cardzao {
  background-color: rgb(254, 254, 254);
  width: 40vh;
  height: 80vh;
  padding: 3rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* MUDANÇA AQUI: Alinha os elementos do topo para baixo sequencialmente */
  justify-content: flex-start; 
  
  margin-right: 35rem;
  box-shadow: 0 0.5rem 1.5rem #ffaa0b;
}



.JaneteIcon {
  border-radius: 50%;
  width: 18vh;
  height: 18vh;
  border: 0.1rem solid rgb(48, 154, 32) ;
  
}



.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

h3 {
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  color: rgb(65, 171, 67);
  margin-bottom: 1rem;
}

input {
  
  border-radius: 5rem;
  padding: 0.6rem;
  text-align: center;
  border-color: chartreuse;

}


.esqueci {
  color: rgb(0, 170, 255);
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

.login-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  
}

.icon {
  border-radius: 50%;
  width: 2rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 2rem;
  border: 0.1rem solid black;

}

.icon:hover {
transition: 0.6s;
width: 2.5rem; 
}




.Cadastrar {

  background-color: rgb(23, 205, 26);
  width: 23vh;
  height: 3vh;
  padding: 0.7rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin: 1.5rem auto 0 auto;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  align-items: center;

  
}

.Cadastrar:hover {
  background-color: rgb(43, 147, 27);
  transition: 0.6s;
}

.CadastrEAqui {
  color: rgb(0, 170, 255);
  margin-top: 3rem;

}

p {
  color: rgb(113, 113, 113);
  margin-top: 4rem;
}