.app-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* Substitua pelo seu background (imagem ou gradiente) */
    background-image: url('./assets/FundoProdutosJ.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Garante que o fundo fique atrás de todos os botões, textos e inputs */
    z-index: -1; 
}

.app-content {
    position: relative;
    z-index: 1;
    /* Aqui seu conteúdo pode ter a altura que quiser, 
       o fundo vai continuar fixo lá atrás */
}